html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    --primary: #003e73;
    --secondary: rgba(100,0,100, 0.5);
    background-color: #0e182e;
    color: #e5e5e5;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav .nav-wrapper {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}
nav, footer.page-footer {
    background-color: #111;
    box-shadow: 0 3px 5px rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
a {
    color: #76AAF9;
    text-decoration-thickness: 0.04em;
    text-underline-offset: 0.3em;
}
footer a {
    color: white;
}
b {
    font-weight: 700;
}

.navbar-brand {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}
.navbar-brand .badge {
    font-size: 0.5rem;
    color: #76AAF9;
    transform: rotate(15deg);
    margin-left: -15px;
    margin-top: -5px;
}
.leaflet-container .label {
    white-space: nowrap;
    pointer-events: none !important;
}

.block {
    background-color: rgba(0,0,0,0.3);
    color: white;
    margin-bottom: 20px;
    position: relative;
}
.block .title {
    background-color: rgba(0,0,0,0.2);
    padding: 10px 15px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.block .content {
    padding: 15px;
}
.section {
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.5);
    padding: 60px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* Toggle */
.toggle .body {
    display: none;
}
.active > .body {
    display: block;
    background-color: rgba(0,0,0,0.2);
}
.active > .title {
    background-color: rgba(0,0,0,0.4);
}
.active {
    box-shadow: inset 0 0 6px black;
}

.toggle > .toggleheader .open {
    display: none;
}
.toggle.active > .toggleheader .closed {
    display: none;
}
.toggle.active > .toggleheader .open {
    display: inline-block;
}
.hide,
.non-match {
    display: none;
}
.toggle .toggleheader {
    cursor: pointer;
}
.toggle .toggleheader:hover {
    background-color: rgba(0,0,0,0.5);
}
.toggle-buttons i.material-icons {
    line-height: 1.3;
}
.item.level-1:after,
.item.level-2:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #666 15%, transparent);
}
/* .item.level-2 {
    border-bottom: 1px solid #666;
} */
.item.level-2:last-child:after {
    content: null;
}
#agenda .agenda-Statement .title {
    font-weight: bold;
}
#agenda .body, 
#agenda .title {
    padding: 1rem 0.5rem 1rem 1.5rem;
}
#agenda .level-1 > .title {
    padding-left: 2rem;
}
@media only screen and (max-width: 640px) {
    #agenda .body, 
    #agenda .title {
        padding: 0.5rem 0.25rem 0.5rem 1rem;
    }
    #agenda .level-1 > .title {
        padding-left: 1rem;
    }
}
.search .match > .title {
    background-color: purple;
}
/*#agenda .toggle .header .material-icons {
    float: left;
}*/
.badge {
    float: right;
}
.toggle-buttons .material-icons {
    margin-left: -24px;
    float: left;
}
.list .item {
    padding: 0.5rem;
}
input[type="text"] {
    padding-left: 10px;
    box-sizing: border-box;
}
.height-limit {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
#filter {
    float: right;
}
.citation {
    font-size: 10px;
}

.council .item.level-1 {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.council .item.level-1 .info {
    width: calc( 100% - 95px );
    margin-bottom: 15px;
}
.date {
    font-size: 14pt;
    width: 80px;
    text-align: center;
    font-weight: bold;
    margin: 0.25rem 15px 15px 0;
}
.cal {
    border: 1px solid white;
    border-radius: 10px;
    
    overflow: hidden;
}
.cal .month,
.cal .day,
.cal .year {
    display: block;
}
.cal .month,
.cal .year {
    background-color: white;
    color: black;
}
.cal .year,
.date .time {
    font-size: 14px;
}

.kpi {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    height: 100%;
}
.kpi .value {
    font-family: 'Exo', sans-serif;
    font-size: 1.8rem;
}
.kpi .label {
    font-size: 14pt;
}

.text-lg {
    font-size: 1.5rem;
    line-height: 1.7;
}
.chart {
    height: 700px;
}
@media only screen and (max-width: 640px) {
    .text-lg {
        font-size: 1.1rem;
    }
    .chart {
        height: 500px;
    }
}

aside {
    border: 2px solid white;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1rem 2rem;
    margin: 2rem 0 1rem 0;
    position: relative;
    font-size:1rem;
}
aside.concern {
    border-color: #6c0000;
}
aside.action {
    border-color: #76AAF9;
}
aside::before {
    position: absolute;
    top: -1.4rem;
    left: -2px;
    color: white;
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.3rem .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}
aside.concern::before {
    content: 'CONCERN';
    background-color: #6c0000;
    color: white;
}
aside.note::before {
    content: 'NOTE';
    background-color: white;
    color: black;
}
aside.action::before {
    content: 'ACTION';
    background-color: #76AAF9;
    color: black;
}

.youtube-video {
    width: 100%;
    aspect-ratio: 16/9;
}
#myTab .nav-link {
    color:rgba(54, 162, 235, 1)
}
.active {
    box-shadow: none;
    background-color: rgba(0,0,0,0.5);
}
/* .leaflet-pane {
    inset: 0;
    pointer-events: none;
}
.leaflet-popup.overlay {
    transform: none !important;
    bottom: 0 !important;
    top: 0;
    left: auto !important;
    right: 0;
    pointer-events: all;
    margin-bottom: 0;
}
.overlay .leaflet-popup-content-wrapper {
    border-radius: 0;
    height: 100%;
    background-color: #340034;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}
.leaflet-popup-tip-container {
    display: none;
}
.leaflet-popup.overlay a.leaflet-popup-close-button,
.leaflet-popup.overlay a.leaflet-popup-close-button:hover {
    color: white;
    font-size: 28px;
} */